<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="/css/styles.css" rel="stylesheet" type="text/css">
    <link rel="manifest" href="/manifest.json">
    <script src="/js/app.js" type="text/javascript"></script>
    <title>Marvel Movies</title>
    <link rel="manifest" href="manifest.json">
</head>
<body>
    <header>
        <div class="logo">Marvel Movies</div>
        <h2>Phase I</h2>
        <div class="phase-ctn">
            <div class="movie-ctn">
                <img src="/img/Iron_Man_I_poster.png">
                <div class="title-ctn">Iron Man</div>
                <div class="year-ctn">2008</div>
                <div class="learn-more-ctn"><a href="">Learn More</a></div>

            </div>
            <div class="movie-ctn">
                <img src="img/incredible_hulk_poster.jpg">
                <div class="title-ctn">Incredible Hulk</div>
                <div class="year-ctn">2008</div>
                <div class="learn-more-ctn"><a href="#">Learn More</a></div>
            </div>
            <div class="movie-ctn">
                <img src="img/Iron_Man_2_poster.jpg">
                <div class="title-ctn">Iron Man II</div>
                <div class="year-ctn">2010</div>
                <div class="learn-more-ctn"><a href="#">Learn More</a></div>
            </div>
            <div class="movie-ctn">
                <img src="img/Thor_Poster.jpg">
                <div class="title-ctn">Thor</div>
                <div class="year-ctn">2011</div>
                <div class="learn-more-ctn"><a href="#">Learn More</a></div>
            </div>
            <div class="movie-ctn">
                <img src="img/Captain_America_I.jpg">
                <div class="title-ctn">Captain America: First Avenger</div>
                <div class="year-ctn">2011</div>
                <div class="learn-more-ctn"><a href="#">Learn More</a></div>
            </div>
            <div class="movie-ctn">
                <img src="img/Avengers_Poster.jpg">
                <div class="title-ctn">The Avengers</div>
                <div class="year-ctn">2012</div>
                <div class="learn-more-ctn"><a href="#">Learn More</a></div>
            </div>
        </div>
        <h2>Phase II</h2>
        <div class="phase-ctn">
                <div class="movie-ctn">
                    <img src="img/Iron_Man_3_poster.jpg">
                    <div class="title-ctn">Iron Man 3</div>
                    <div class="year-ctn">2013</div>
                    <div class="learn-more-ctn"><a href="#">Learn More</a></div>
                </div>
                <div class="movie-ctn">
                    <img src="img/thor_II_poster.jpg">
                    <div class="title-ctn">Thor: The Dark World</div>
                    <div class="year-ctn">2013</div>
                    <div class="learn-more-ctn"><a href="#">Learn More</a></div>
                </div>
                <div class="movie-ctn">
                    <img src="img/Captain_America_II.jpg">
                    <div class="title-ctn">Captain America: The Winter Soldier</div>
                    <div class="year-ctn">2014</div>
                    <div class="learn-more-ctn"><a href="#">Learn More</a></div>
                </div>
                <div class="movie-ctn">
                    <img src="img/GOTG_I_Poster.jpg">
                    <div class="title-ctn">Guardians of the Galaxy</div>
                    <div class="year-ctn">2014</div>
                    <div class="learn-more-ctn"><a href="#">Learn More</a></div>
                </div>
                <div class="movie-ctn">
                    <img src="img/Avengers_II_Poster.jpg">
                    <div class="title-ctn">Avengers: Age of Ultron</div>
                    <div class="year-ctn">2015</div>
                    <div class="learn-more-ctn"><a href="#">Learn More</a></div>
                </div>
                <div class="movie-ctn">
                    <img src="img/Ant_Man_Poster.jpg">
                    <div class="title-ctn">Ant Man</div>
                    <div class="year-ctn">2015</div>
                    <div class="learn-more-ctn"><a href="#">Learn More</a></div>
                </div>
        </div>
        <h2>Phase II</h2>
        <div class="phase-ctn">
            <div class="movie-ctn">
                <img src="img/Captain_America_III.jpg">
                <div class="title-ctn">Captain America: Civil War</div>
                <div class="year-ctn">2016</div>
                <div class="learn-more-ctn"><a href="#">Learn More</a></div>
            </div>
        </div>
                
    </header>
    <main></main>
    <script src="app.js"></script>

</body>
</html>